[Desktop Entry]
Version=1.0
Name=Notion
Comment=To open the Notion Web Page
Exec=bash -c "/home/noecampos/.local/share/applications/LaunchURLS/LaunchURLs.sh --file '/home/noecampos/.local/share/applications/LaunchURLS/Notion/WID.txt' --url 'https://www.notion.so/Dashboard-136779f17240447ebea6a87ae09f79e5' --pagename 'Dashboard'"
Icon=/usr/share/icons/Notion
Encoding=UTF-8
Terminal=true
Type=Application
Name[it]=Notion
Categories=URL
